$primary:#46C0E6;
$secondary:#F5E12A;
$white:#fff;
$black:#000;
// ACTIONS
$success: #3adb76;
$warning:#ffae00;
$alert : #D53B3B;

// GRAYSCALE
$gray_light: #EFEFEF;
$gray_medium: #9A9BA1;
$gray_dark:#2F2F2F;